{% extends 'admin/List/Base.html' %}

{% block DocumentTitle %}
    Area
{% endblock %}

{% block Title %}
  Area
{% endblock %}

{% block AddTitle %}   
    Area
{% endblock  %}


{% block TableHeads %}
    {% for link in list2 %}
        <th>{{link}}</th>
    {% endfor %}     
{% endblock  %}


{% block TableBody %}
    {% for link in list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{link.id}}</td>
            <td>{{link.Area_name}}</td>
            <td>
                <button class="Update" >Update</button>
                <button class="Delete">Delete</button>
            </td>
        </tr>
    {% endfor %}   
{% endblock  %}
  
{% block Script %}
        <script>
            document.querySelector(".Add").addEventListener("click",(Event)=>{
                console.log("click")
            })
        
            document.querySelectorAll(".Update").forEach(node=>{
                node.addEventListener("click",(event)=>{
                    console.log("click")
                })
            })
        
            document.querySelectorAll(".Delete").forEach(node=>{
                node.addEventListener("click",(event)=>{
                    console.log("click")
                })
            })
        </script>
{% endblock  %}