{% extends 'admin/List/Base.html' %}

{% block DocumentTitle %}
Camera
{% endblock %}

{% block Title %}
Camera
{% endblock %}

{% block AddTitle %}
Camera
{% endblock %}


{% block TableHeads %}
{% for link in list2 %}
<th>{{link}}</th>
{% endfor %}
{% endblock %}


{% block TableBody %}
{% for link in list %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{link.id}}</td>
    <td>{{link.longitude}}</td>
    <td>{{link.latitude}}</td>
    <td>
        <button accessKey={{link.id}} class="Update">Update</button>
        <button accessKey={{link.id}} class="Delete">Delete</button>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block Script %}
<script>
    document.querySelector(".Add").addEventListener("click", (Event) => {
        window.location = "/Forms/CameraForm/"
    })

    document.querySelectorAll(".Update").forEach(e => {
        localStorage.clear()
        e.addEventListener("click", async (Event) => {
            const data = await fetch(`http://127.0.0.1:8000/apis/GetCameraById/${Event.target.accessKey}`)
            const data2 = await data.json()
            localStorage.setItem("data", JSON.stringify(data2))
            window.location = "/Forms/CameraForm/"
        })
    })

    document.querySelectorAll(".Delete").forEach(e => {
        e.addEventListener("click", async (Event) => {
            const data = await fetch("http://127.0.0.1:8000/apis/AddCamera/", {
                method: "DELETE",
                body: JSON.stringify({
                    "CameraId": Event.target.accessKey,
                })
            })
            if (data.status === 200) {
                window.location.reload()
            }
        })
    })

    document.querySelector(".Delete").addEventListener("click", async (Event) => {

    })
</script>
{% endblock %}