{% extends 'admin/Forms/base.html' %}
{% block webtitle %}Camera Form{% endblock %}
{% block MainTitle %}Camera Form{% endblock %}
{% block inputs %}

<form class="form" enctype="multipart/form-data">
	<label for="latitude">Latitude:</label>
	<input type="text" id="latitude" name="latitude" placeholder="Enter latitude">
	<label for="longitude">Longitude:</label>
	<input type="text" id="longitude" name="longitude" placeholder="Enter longitude">
	<label for="area-name">Area Name:</label>
	<select id="area-Select" name="area-name" value=4>
		{% for link in list %}
		<option class="option" value={{link.id}}>{{link.Area_name}}</option>
		{% endfor %}

	</select>
	<label for="video">Camera Video</label>
	<input type="file" class="file" style="margin-top: 5px;" class="mt-4" />
	<input class="submitbtn" style="margin-top: 15px;" type="button" value="Add">
</form>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	// let latitude = 
	let longitudeInput = document.getElementById("longitude")
	let latitudeInput = document.getElementById("latitude")
	let areaSelect = document.getElementById("area-Select")
	let submitButton = document.querySelector(".submitbtn")
	let file = document.querySelector(".file")

	// Helper Function Which Adds Data For update in input fields
	const insertUpdateData = (obj) => {
		longitudeInput.value = obj.long
		latitudeInput.value = obj.lat
		document.querySelectorAll(".option").forEach(e => {
			console.log(e.value + obj.area)
			if (e.value == obj.area)
				e.selected = true
		})
	}

	// Func to clear fields
	const ClearFields = () => {
		latitudeInput.value = ""
		longitudeInput.value = ""
		areaSelect.value = ""
		localStorage.removeItem("data")
	}

	submitButton.addEventListener("click", () => {
		if (latitudeInput.value.length <= 0 || longitudeInput.value.length <= 0 || areaSelect.value.length <= 0 || file.files.length <= 0) {
			alert("Input All Fields")
			return
		}

		if (submitButton.value == "Add")
			AddCamera()
		else
			UpdateCamera()
	})

	// Adding Camera
	const AddCamera = async () => {
		let url = "http://127.0.0.1:8000/apis/AddCamera/"
		let form = new FormData()
		form.append("AreaId", areaSelect.value)
		form.append("latitude", latitudeInput.value)
		form.append("longitude", longitudeInput.value)
		form.append("file", file.files[0])
		$.ajax({
			url: url,
			type: "POST",
			data: form,
			contentType: false,
			processData: false,
			success: (data) => {
				console.log("Successful");
				ClearFields()
				window.location = "/Listing/Cameralisting"
			}
		})

	}

	const UpdateCamera = async () => {
		const data = await fetch("http://127.0.0.1:8000/apis/AddCamera/", {
			method: "PUT",
			body: JSON.stringify({
				"id": JSON.parse(localStorage.getItem("data")).id,
				"AreaId": areaSelect.value,
				"latitude": latitudeInput.value,
				"longitude": longitudeInput.value
			})
		})
		if (data.status === 200) {
			ClearFields()
			window.location = "/Listing/Cameralisting"
		}
	}
	// Inserting Data By Checking For Add Or Update Forms
	window.onload = (e) => {
		let data = localStorage.getItem("data")
		if (data == null)
			return
		submitButton.value = "Update"
		values = JSON.parse(data)
		console.log(values)
		insertUpdateData(values)
	}
	areaSelect.onchange = (e) => {
		console.log(e.target.value)
	}

</script>
{% endblock %}